body{
    font-family: "Montserrat", sans-serif; /* Caso a fonte do Google esteja desativada */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#map{
    height: 50vh; /*Viewport height*/
    width: 50vw; /*Viewport width*/
    border: solid 1px black;
}

.limpa-mapa{
    background-color: darkblue;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer
}

.limpa-mapa:hover{
    background-color: blue;
}
